@import "rotator";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

$header-bg-color: #2b2b2b;
$bg-color: #12242d;

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

a {
  border: 0;
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  background-color: $bg-color;
}

#user-panel {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9998;
  #panel-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
  }
  #panel-content {
    $panel-width: 60%;
    $panel-height: 500px;
    border-radius: 5px;
    position: absolute;
    width: $panel-width;
    height: $panel-height;
    background-color: white;
    top: 50%;
    left: 50%;
    margin-left: -($panel-width/2);
    margin-top: -($panel-height/2);
    z-index: 1000;
    > div {
      float: left;
      width: 50%;
      @media screen and (max-width: 760px) {
        width: 100%;
        &:last-child {
          display: none;
        }
      }
      padding: 10px;
      box-sizing: border-box;
    }

    input {
      display: block;
      border-radius: 2px;
      border: 1px solid #808080;
      padding: 5px 10px;
      margin: 5px auto;
      width: 90%;
      height: 25px;
      line-height: 25px;
      font-size: 16px;
      &[type=submit] {
        width: 85px;
        padding: 5px;
        height: 45px;
        background-color: cadetblue;
        border: none;
        color: white;
      }
    }
  }
}

header {
  box-shadow: black 0 0 4px;

  width: 100%;
  @media screen and (max-width: 760px){
    height: 50px;
  }
  height: 100px;
  background-color: $header-bg-color;
  #header-content {
    @media screen and (min-width: 960px){
      width: 960px;
    }
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-left: 40px;
    position: relative;
    box-sizing: border-box;
    a {
      > img {
          height: 100%;
      }
    }

    #menu-panel {
      i {
        font-size: 28px;
      }
      position: absolute;
      right: 20px;
      top: 10px;
      @media screen and (max-width: 760px){
        top: 12px;
        right: 20px;
      }
      #menu-button {
        @media screen and (min-width: 760px){
          display: none;
        }
        margin-right: 30px;
        div {
          width: 25px;
          height: 3px;
          background-color: white;
          border-radius: 2px;
          margin-bottom: 5px;
        }
      }
    }
    nav {
      @media screen and (max-width: 760px) {
        display: none;
      }
      position: absolute;
      left: 160px;
      bottom: 0;
      height: 40px;
      > ul {
        height: 40px;
        > li {
          display: inline-block;
          > a {
            padding: 8px;
            height: 40px;
            display: block;
            box-sizing: border-box;
            font-size: 1.1em;
          }
          &:hover > a {
            border-bottom: 3px solid white;
          }
          > ul {
            z-index: 9997;
            display: none;
            list-style-type: none;
            top: 40px;
            position: absolute;
            padding: 5px;
            background-color: white;
             li {
              color: black;
              padding: 5px 8px;
            }
          }
        }
      }
    }
    #search {
      height: 28px;
      line-height: 28px;
      @media screen and (max-width: 760px){
        display: none;
      }
      padding: 10px 20px 0 0;
      position: absolute;
      bottom: 10px;
      right: 0;
      input {
        height: 28px;
        display: none;
        float: left;
        margin: 1px 8px 0 0;
        padding: 3px 8px;
        font-size: 0.8em;
        border: none;
        box-sizing: border-box;
        border-radius: 2px;
      }
      i {
        cursor: pointer;
      }
    }
  }
}

#mobile-menu {
  display: none;
  animation-name: menu-drop;
  border-top: 1px solid black;
  background-color: cadetblue;
  position: absolute;
  z-index: 9999;
  width: 100%;
  #mobile-search {
    width: 90%;
    margin: 7px auto;
    input {
      float: left;
      height: 35px;
      width: 90%;
      margin: 1px 2% 0 0;
      padding: 3px 8px;
      border: none;
      border-radius: 2px;
      font-size: 0.8em;
      box-sizing: border-box;
    }
    i {
      cursor: pointer;
      font-size: 20px;
      padding-top: 7px;
    }
    &::after {
      clear: both;
      content: '';
      display: block;
    }
  }
  ul {
    margin-top: 3px;
    list-style-type: none;
    li {
      border-top: 1px solid $header-bg-color;
      width: 100%;
      text-align: center;
      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 8px 0;
      }
    }
  }
}

main {
  @media screen and (max-width: 960px){
    width: 100%;
  }
  width: 960px;
  margin: 0 auto;
  #content {
    padding-bottom: 10px;

    > section {
      margin-top: 15px;
    }
    .section-header {
      margin-left: 20px;
      span {
        font-size: 26px;
        font-weight: bold;
        padding: 2px 12px;
        background-color: #2b2b2b;
      }
    }

    #news-section {
      &::after {
        content: '';
        clear: both;
        display: block;
      }
      .news {
        position: relative;
        float: left;
        width: 30.33%;
        a {
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0px;
          top: 0px;
        }
        @media screen and (max-width: 760px){
          width: 47%;
        }
        @media screen and (max-width: 500px){
          width: auto;
          margin: 15px 5%;
          float: none;
        }

        height: 150px;
        box-sizing: border-box;
        margin: 10px 1.5%;
        background-position: center;
        background-size: cover;
        &::after {
          content: "";
          background: url('../images/wcg2006.jpg') center;
          background-size: cover;
          opacity: 0.4;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1;
          border-radius: 5px;
          transition: all 0.5s linear;
        }

        &:hover::after {
          opacity: 0.6;
          transform: scale(1.05);
        }

        h3 {
          display: inline-block;
          position: absolute;
          left: 15px;
          bottom: 15px;
          font-size: 22px;
          text-shadow: 1px 1px 5px #2b2b2b;
        }
      }
    }

    #result-section {
      .result {
        background-color: rgba(66, 66, 66, 0.54);
        margin: 15px 2% 0;
        padding: 15px;

        &::after {
          content: '';
          clear: both;
          display: block;
        }

        .tournament-info {
          float: left;
          @media screen and (max-width: 500px){
            div {
              line-height: 42px;
              font-size: 1.1em;
            }
            .event {
              display: none;
            }
          }
        }

        .result-details {
          float: right;
          margin-right: 50px;
          > div {
            float: left;
          }
          img {
            height: 42px;
          }
          .score {
            font-size: 32px;
            height: 42px;
            line-height: 42px;
            font-weight: bold;
            margin: 0 5px;
          }
        }
      }
    }

  }
}

footer {
  box-sizing: border-box;
  background-color: cadetblue;
  padding: 10px;
  background-color: $header-bg-color;
  width: 100%;
  box-shadow: black 0 0 5px;
  margin-top: 10px;

  > #footer-content {
    @media screen and (max-width: 960px){
      width: 100%;
    }
    margin: 0 auto;
    width: 960px;
  }
}
