@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
#rotator {
  position: relative;
  height: 375px;
  overflow: hidden; }
  @media screen and (max-width: 620px) {
    #rotator {
      height: 200px; } }
  #rotator #rotator-nav {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #fff;
    z-index: 9990; }
    #rotator #rotator-nav a {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 0 2px;
      border-radius: 100%;
      color: white;
      background-color: white; }
    #rotator #rotator-nav .active {
      background-color: silver;
      box-sizing: border-box;
      border: 2px solid white; }
  #rotator #rotator-content {
    position: relative;
    height: 100%; }
    #rotator #rotator-content a {
      position: absolute;
      left: 100%;
      width: 100%;
      height: 100%;
      display: block;
      background-size: cover; }
    #rotator #rotator-content .active {
      left: 0%; }
    #rotator #rotator-content .rotator-caption {
      position: absolute;
      z-index: 9990;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      width: 60%;
      bottom: 50px;
      padding: 10px; }
      @media screen and (max-width: 620px) {
        #rotator #rotator-content .rotator-caption {
          bottom: 20px; } }
      #rotator #rotator-content .rotator-caption h3 {
        font-size: 1.1em;
        margin-bottom: 3px; }
      @media screen and (max-width: 620px) {
        #rotator #rotator-content .rotator-caption span {
          display: none; } }

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  color: white; }

a {
  border: 0;
  text-decoration: none;
  color: inherit; }

body {
  position: relative;
  background-color: #12242d; }

#user-panel {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9998; }
  #user-panel #panel-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1; }
  #user-panel #panel-content {
    border-radius: 5px;
    position: absolute;
    width: 60%;
    height: 500px;
    background-color: white;
    top: 50%;
    left: 50%;
    margin-left: -30%;
    margin-top: -250px;
    z-index: 1000; }
    #user-panel #panel-content > div {
      float: left;
      width: 50%;
      padding: 10px;
      box-sizing: border-box; }
      @media screen and (max-width: 760px) {
        #user-panel #panel-content > div {
          width: 100%; }
          #user-panel #panel-content > div:last-child {
            display: none; } }
    #user-panel #panel-content input {
      display: block;
      border-radius: 2px;
      border: 1px solid #808080;
      padding: 5px 10px;
      margin: 5px auto;
      width: 90%;
      height: 25px;
      line-height: 25px;
      font-size: 16px; }
      #user-panel #panel-content input[type=submit] {
        width: 85px;
        padding: 5px;
        height: 45px;
        background-color: cadetblue;
        border: none;
        color: white; }

header {
  box-shadow: black 0 0 4px;
  width: 100%;
  height: 100px;
  background-color: #2b2b2b; }
  @media screen and (max-width: 760px) {
    header {
      height: 50px; } }
  header #header-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-left: 40px;
    position: relative;
    box-sizing: border-box; }
    @media screen and (min-width: 960px) {
      header #header-content {
        width: 960px; } }
    header #header-content a > img {
      height: 100%; }
    header #header-content #menu-panel {
      position: absolute;
      right: 20px;
      top: 10px; }
      header #header-content #menu-panel i {
        font-size: 28px; }
      @media screen and (max-width: 760px) {
        header #header-content #menu-panel {
          top: 12px;
          right: 20px; } }
      header #header-content #menu-panel #menu-button {
        margin-right: 30px; }
        @media screen and (min-width: 760px) {
          header #header-content #menu-panel #menu-button {
            display: none; } }
        header #header-content #menu-panel #menu-button div {
          width: 25px;
          height: 3px;
          background-color: white;
          border-radius: 2px;
          margin-bottom: 5px; }
    header #header-content nav {
      position: absolute;
      left: 160px;
      bottom: 0;
      height: 40px; }
      @media screen and (max-width: 760px) {
        header #header-content nav {
          display: none; } }
      header #header-content nav > ul {
        height: 40px; }
        header #header-content nav > ul > li {
          display: inline-block; }
          header #header-content nav > ul > li > a {
            padding: 8px;
            height: 40px;
            display: block;
            box-sizing: border-box;
            font-size: 1.1em; }
          header #header-content nav > ul > li:hover > a {
            border-bottom: 3px solid white; }
          header #header-content nav > ul > li > ul {
            z-index: 9997;
            display: none;
            list-style-type: none;
            top: 40px;
            position: absolute;
            padding: 5px;
            background-color: white; }
            header #header-content nav > ul > li > ul li {
              color: black;
              padding: 5px 8px; }
    header #header-content #search {
      height: 28px;
      line-height: 28px;
      padding: 10px 20px 0 0;
      position: absolute;
      bottom: 10px;
      right: 0; }
      @media screen and (max-width: 760px) {
        header #header-content #search {
          display: none; } }
      header #header-content #search input {
        height: 28px;
        display: none;
        float: left;
        margin: 1px 8px 0 0;
        padding: 3px 8px;
        font-size: 0.8em;
        border: none;
        box-sizing: border-box;
        border-radius: 2px; }
      header #header-content #search i {
        cursor: pointer; }

#mobile-menu {
  display: none;
  animation-name: menu-drop;
  border-top: 1px solid black;
  background-color: cadetblue;
  position: absolute;
  z-index: 9999;
  width: 100%; }
  #mobile-menu #mobile-search {
    width: 90%;
    margin: 7px auto; }
    #mobile-menu #mobile-search input {
      float: left;
      height: 35px;
      width: 90%;
      margin: 1px 2% 0 0;
      padding: 3px 8px;
      border: none;
      border-radius: 2px;
      font-size: 0.8em;
      box-sizing: border-box; }
    #mobile-menu #mobile-search i {
      cursor: pointer;
      font-size: 20px;
      padding-top: 7px; }
    #mobile-menu #mobile-search::after {
      clear: both;
      content: '';
      display: block; }
  #mobile-menu ul {
    margin-top: 3px;
    list-style-type: none; }
    #mobile-menu ul li {
      border-top: 1px solid #2b2b2b;
      width: 100%;
      text-align: center; }
      #mobile-menu ul li a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 8px 0; }

main {
  width: 960px;
  margin: 0 auto; }
  @media screen and (max-width: 960px) {
    main {
      width: 100%; } }
  main #content {
    padding-bottom: 10px; }
    main #content > section {
      margin-top: 15px; }
    main #content .section-header {
      margin-left: 20px; }
      main #content .section-header span {
        font-size: 26px;
        font-weight: bold;
        padding: 2px 12px;
        background-color: #2b2b2b; }
    main #content #news-section::after {
      content: '';
      clear: both;
      display: block; }
    main #content #news-section .news {
      position: relative;
      float: left;
      width: 30.33%;
      height: 150px;
      box-sizing: border-box;
      margin: 10px 1.5%;
      background-position: center;
      background-size: cover; }
      main #content #news-section .news a {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0px; }
      @media screen and (max-width: 760px) {
        main #content #news-section .news {
          width: 47%; } }
      @media screen and (max-width: 500px) {
        main #content #news-section .news {
          width: auto;
          margin: 15px 5%;
          float: none; } }
      main #content #news-section .news::after {
        content: "";
        background: url("../images/wcg2006.jpg") center;
        background-size: cover;
        opacity: 0.4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        border-radius: 5px;
        transition: all 0.5s linear; }
      main #content #news-section .news:hover::after {
        opacity: 0.6;
        transform: scale(1.05); }
      main #content #news-section .news h3 {
        display: inline-block;
        position: absolute;
        left: 15px;
        bottom: 15px;
        font-size: 22px;
        text-shadow: 1px 1px 5px #2b2b2b; }
    main #content #result-section .result {
      background-color: rgba(66, 66, 66, 0.54);
      margin: 15px 2% 0;
      padding: 15px; }
      main #content #result-section .result::after {
        content: '';
        clear: both;
        display: block; }
      main #content #result-section .result .tournament-info {
        float: left; }
        @media screen and (max-width: 500px) {
          main #content #result-section .result .tournament-info div {
            line-height: 42px;
            font-size: 1.1em; }
          main #content #result-section .result .tournament-info .event {
            display: none; } }
      main #content #result-section .result .result-details {
        float: right;
        margin-right: 50px; }
        main #content #result-section .result .result-details > div {
          float: left; }
        main #content #result-section .result .result-details img {
          height: 42px; }
        main #content #result-section .result .result-details .score {
          font-size: 32px;
          height: 42px;
          line-height: 42px;
          font-weight: bold;
          margin: 0 5px; }

footer {
  box-sizing: border-box;
  background-color: cadetblue;
  padding: 10px;
  background-color: #2b2b2b;
  width: 100%;
  box-shadow: black 0 0 5px;
  margin-top: 10px; }
  footer > #footer-content {
    margin: 0 auto;
    width: 960px; }
    @media screen and (max-width: 960px) {
      footer > #footer-content {
        width: 100%; } }

/*# sourceMappingURL=style.css.map */
